{% extends "base.html" %}
{% load static %}
{% load plotly_dash %}

{% block title %}Dashboard | {% endblock %}

{% block content %}
<div class="container-fluid px-0 border-1">  <!-- Removemos padding lateral -->
    <div class="card shadow border-0">  <!-- Quitamos bordes -->
        <div class="card-body p-0">  <!-- Quitamos padding -->
            <div class="plotly-container" style="width: 100%; height:auto ; border-radius: 10px; overflow:auto;">
                {% plotly_app name="Dashboard" ratio=1 %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


